*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-family: Circular Std Book;
    font-size: 14px;
}

@font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: 400;
    src: local('Circular Std Book'),
    url('../fonts/CircularStd-Book.woff2') format('woff2'),
    url('../fonts/CircularStd-Book.woff') format('woff');
}

/* ================================ */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ================================ */
.header__container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    min-height: 80px;
    column-gap: 10px;
    row-gap: 16px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ================================ */
.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
}

.menu__link {
    font-size: 14px;
    font-weight: 500;
    color: #000C2D;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
}

.menu__link:hover,
.footer__link:hover {
    text-decoration: underline;
}

.active__button:hover {
    font-weight: 700;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 0 0 3px #addaf8;
}

.active__button {
    width: 136px;
    height: 44px;
    padding: 12px;
    margin: 2px 0;
    text-justify: auto;
    color: #2F70FE;
    border: 1px solid #2F70FE;
}

/* ================================ */
.page {
    flex: 1 1 auto;
}

.top__section {
    position: relative;
    width: 100%;
    min-height: 536px;
    background: #2F70FE;
}

.top-row-content {
    max-width: 620px;
    margin: 0 auto;
}

.top__row {
    padding-top: 114px;
    gap: 32px;
    width: 100%;
}

.title__top {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    /* or 135% */
    text-align: center;
    color: #FFFFFF;
}

.subtitle__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    text-align: center;
    padding-bottom: 32px;
    color: #FFFFFF;
}

.button__register:hover {
    cursor: pointer;
    color: aquamarine;
    opacity: 0.78;
    border-radius: 2px;
    box-shadow: 0 0 0 3px lightskyblue;
}

.button__register {
    width: 162px;
    height: 52px;
    padding: 16px 24px;
    gap: 10px;
    z-index: 10;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #000000;
}

.top__img {
    mix-blend-mode: luminosity;
}

.img__left {
    position: absolute;
    z-index: 0;
    left: 7%;
    right: 65%;
    bottom: -42px;
    top: 400px;
    opacity: 0.5;
}

.img__right {
    position: absolute;
    right: 128px;
    bottom: 45px;
    left: 67.5%;
    top: 308px;
}

/* ================================ */
.main-head-menu {
    /* position: absolute; */
    width: 100%;
    min-height: 496px;
    background: rgba(0, 255, 133, 0.08);
}

.main-head-menu__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 0.02em;
    padding-top: 80px;
    padding-bottom: 40px;
    color: rgba(0, 0, 0, 1);
}

.main-head-menu__column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    gap: 56px;
    max-width: 824px;
    margin: 0 auto;
}

.main-head-menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-head-menu__img {
    align-items: center;
}

.main-head-menu__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    /* or 169% */
    text-align: center;
    letter-spacing: 0.01em;
    padding-top: 24px;
    color: #000C2D;
}

/* ================================ */
.main-page-content__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10%;
}

.main__item_text {
    flex-basis: 50%;
    max-width: 410px;
    padding: 0 30px;
}

.row__title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #181818;
}

.row__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin: 24px 0;
    letter-spacing: 0.01em;
    color: #000C2D;
}

.main__item_img {
    flex-basis: 50%;
    padding: 0 30px;
}

.main__item_signup {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #2F70FE;
}

.main__item_arrow {
    padding-left: 10px;
}

/* ================================ */
.footer {
    background-color: rgba(0, 0, 0, 1);
}

.footer__container {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 80%;
    align-items: center;
    color: rgba(255, 255, 255, 1);
}

.footer__row {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}

.footer__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
}

.footer__title {
    font-weight: 700;
    padding-top: 88px;
}

.footer__list {
    height: 100%;
    letter-spacing: 0.02em;
}

.footer__link {
    color: #FFFFFF;
}

.footer__list > li {
    margin-bottom: 10px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    width: 70%;
    padding-top: 56px;
    padding-bottom: 62px;
}

.footer__follow {
    align-self: flex-end;
}

/* ================================ */
[class*="__container"] {
    /*max-width: 1400px;*/
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: 1199.98px) {
    [class*="__container"] {
        max-width: 100%;
    }

    .img__right {
        top: 38%;
    }
}

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 100%;
    }

    .img__right {
        top: 43%;
    }
}

@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        padding: 0 16px;
    }

    .header__container {
        min-height: 0;
        flex-direction: column;
    }

    .top__img {
        display: none;
    }

    .menu__list {
        justify-content: center;
    }

    .header {
        min-height: 110px;
        padding: 24px 0;
    }

    .menu__list {
        row-gap: 24px;
    }

    .menu__link {
        font-size: 18px;
        margin: 10px 0;
    }

    .main-head-menu {
        min-height: 320px;
    }

    .main-head-menu__text {
        font-size: 14px;
        padding: 12px;
    }

    .main-head-menu__title {
        padding-top: 40px;
        padding-bottom: 10px;
    }

    .top__row {
        padding-top: 40px;
    }

    .top__section {
        min-height: 350px;
    }

    .footer__link {
        padding-right: 12px;
        color: #FFFFFF;
    }
}

@media (max-width: 575.98px) {
    .top__section {
        min-height: auto;
        padding: 0 12px 12px 12px;
    }

    .title__top {
        font-size: 36px;
    }

    .row__title {
        font-size: 22px;
    }

    .menu__item {
        padding: 6px;
    }

    .active__button {
        padding: 18px;
        margin: 14px 0;
    }

    .main-head-menu__column {
        flex-wrap: wrap;
        height: auto;
        gap: 25px;
    }

    .main-head-menu__title {
        padding-top: 20px;
        font-size: 32px;
    }

    .main__item_img {
        display: none;
    }

    .main__item_text {
        flex-basis: auto;
    }

    .footer__container {
        min-height: auto;
    }

    .nonmobile__link {
        display: none;
    }

    .footer__row {
        display: inline-block;
        text-align: center;
        padding-top: 20px;
        font-size: 18px;
    }

    .footer__item {
        align-items: center;
    }

    .footer__link {
        padding-right: 0;
    }

    .footer__list > li {
        margin-bottom: 16px;
    }

    .footer__bottom {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 12px 0;
    }
}
